.badilisha tbody li,.badilisha tbody li a
{text-decoration: none;
list-style: none;
font-size: 16px;
}

table{

}

.wekaKushoto {
   float:left ;

}

.btn-bilgini {
    color: #ffffff;
    background-color: #000000;
    border-color: #cda11c;
}
.btn-bilgini:hover,
.btn-bilgini:focus,
.btn-bilgini:active,
.btn-bilgini.active,
.open .dropdown-toggle.btn-bilgini {
    color: #000000;
    background-color: #DBDBEA;
    border-color: #000000;
}
.btn-bilgini:active,
.btn-bilgini.active,
.open .dropdown-toggle.btn-bilgini {
    background-image: none;
}
.btn-bilgini.disabled,
.btn-bilgini[disabled],
fieldset[disabled] .btn-bilgini,
.btn-bilgini.disabled:hover,
.btn-bilgini[disabled]:hover,
fieldset[disabled] .btn-bilgini:hover,
.btn-bilgini.disabled:focus,
.btn-bilgini[disabled]:focus,
fieldset[disabled] .btn-bilgini:focus,
.btn-bilgini.disabled:active,
.btn-bilgini[disabled]:active,
fieldset[disabled] .btn-bilgini:active,
.btn-bilgini.disabled.active,
.btn-bilgini[disabled].active,
fieldset[disabled] .btn-bilgini.active {
    background-color: #6c4a1c;
    border-color: #cda11c;
}


.btn-safi {
    color: #ffffff;
    background-color:#7c2a17;

    border-color: #cda11c;
}
.btn-safi:hover,
.btn-safi:focus,
.btn-safi:active,
.btn-safi.active,
.open .dropdown-toggle.btn-safi {
    color: #ffffff;
    background-color: #cda11c;
    border-color: #7c2a17;
}
.btn-safi:active,
.btn-safi.active,
.open .dropdown-toggle.btn-safi {
    background-image: none;
}
.btn-safi.disabled,
.btn-safi[disabled],
fieldset[disabled] .btn-safi,
.btn-safi.disabled:hover,
.btn-safi[disabled]:hover,
fieldset[disabled] .btn-safi:hover,
.btn-safi.disabled:focus,
.btn-safi[disabled]:focus,
fieldset[disabled] .btn-safi:focus,
.btn-safi.disabled:active,
.btn-safi[disabled]:active,
fieldset[disabled] .btn-safi:active,
.btn-safi.disabled.active,
.btn-safi[disabled].active,
fieldset[disabled] .btn-safi.active {
    background-color: #e93f5c;
    border-color: #000000;
}



.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -14px;
}

#startHere{
    margin-top:-5px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.title b {
    font-weight: 900;
    background: #ffffff;
    display: inline-block;
    padding: 0 10px;

}

.title h1, .title h2, .title h3 {
    background: transparent url(../img/title.png) repeat-x 50% 50%;
}

body{
    font-family:  "Open Sans","museo-sans",sans-serif   ;
    font-weight: lighter;
}
h2 {
    font-family: "Open Sans","museo-sans", Arial, sans-serif;
    letter-spacing: -0.07em;
}

.jumbotron {

    padding: 4px 7px 17px 19px;
    margin-bottom: 31px;
    font-size: 21px;
    font-weight: lighter;
    line-height: 1.342857;
    color: white;
    background-color: #7c2a17;
}

::selection {
    color: white;
    background-color: #cda11c;

}
/*it overrides the col-9*/
#verticalLine {
    border-left: 1px solid  #ae4928;
    margin-left:0px;padding-left: 20px;
    padding-right: 0px;
}


/**iHElp*/
.donate {
width: 250px;
height: 30px;
overflow: hidden;
position: relative;
text-align:center;
padding:10px;
cursor: pointer;
background-color: #ae4928;
color: #fff;

}

.donate_layer {
position: absolute;
top:4px;
}

/*  Plagiarism*/
hr {
    margin-top: -4px;
    margin-bottom: -11px;
}
.bil {
    padding: 11px 7px 9px 0px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: lighter;
    line-height: 1.342857;
    color: white;
    background-color: #444444;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}


.marks{
    font-size: 64px;
    margin-left: -18px;
    margin-top: 9px;
}

.more{
    display: none;
}
